html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	margin: 0px;
	padding: 0px;
	color: #000000;
	background-color: #DDDDDD;
	font-family: Arial;
}

#content {
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	position: absolute;
	width: 800px;
	left: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: -400px;
	padding: 20px;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
	color: #000000;
	margin-top: 50px;
}

h3 {
	margin-top: 20px;
	font-size: 24px;
	color: #AAAAAA;
}

h4 {
	margin-top: 2%;
	color: #333333;
}


.section {
	margin: 3%;
	padding: 2%;
	background-color: #333333;
}

p {
	color: #AAAAAA;
	margin: 20px 0 20px 0;
	padding-left: 20px;
}

a {
	color: blue;
	font-weight:bold;
}

ul {
	padding-left: 50px;
	list-style-type: circle;
}

li {
	margin: 2% 0 2% 0;
}